/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
@keyframes animate-heart {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

@keyframes animate-sparks {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sparks {
  opacity: 0;
}

.heart {
  fill: transparent;
  transition: fill 0.3s ease;
  cursor: pointer;
}

.heart:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s ease;
}

.heart:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s ease 0.05s;
}

.heart .main-body {
  fill: transparent;
  transition: fill 0.3s ease;
}

.heart .core {
  fill: transparent;
  transition: fill 0.3s ease 0.03s;
} 

.heart .contour {
  transition: fill 0.1s linear;
}

.heart:active .core {
  fill: var(--body-color);
  transition: fill 0.3s linear;
}

.heart:active .main-body {
  fill: var(--body-color);
  transition: fill 0.3s ease 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--body-color);
  transition: fill 0.3s ease;
}

.like-icon.is-liked .main-body {
  fill: var(--body-color);
  transition: fill 0.3s ease 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--body-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked {
  animation: animate-heart 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: animate-sparks 0.3s ease-in 0.3s;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--main-color);
  outline: none;
}